nav li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

header{
    background-color: #33691E;
    margin: 0;
}

header h1 {
    display: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav a {
    text-decoration: none;
    line-height: 40px;
}

nav img {
    opacity: 0.3;
}

canvas {
    width: 100%;
    background-color: #fff;
}

.circles{
    display: flex;
    justify-content:center;
    margin: 0 auto;
    align-items: center;
}

main{
    margin-bottom: auto;
}
/* Can't get this margin-top thing to work \/ */
footer {
    background-color: #33691e;
    margin-top: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
}